<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_daojishi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,686},{122,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,139}}</string>
                <key>sourceSize</key>
                <string>{122,139}</string>
            </dict>
            <key>battle_daojishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,686},{122,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,139}}</string>
                <key>sourceSize</key>
                <string>{122,139}</string>
            </dict>
            <key>battle_daojishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,702},{122,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,139}}</string>
                <key>sourceSize</key>
                <string>{122,139}</string>
            </dict>
            <key>battle_daojishi_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,201},{471,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,114}}</string>
                <key>sourceSize</key>
                <string>{471,114}</string>
            </dict>
            <key>bianshen_machao.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,540},{170,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,117}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>bianshen_zhangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,47},{170,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,117}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>bianshen_zhaoyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,494},{152,117}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,117}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>hit_huise.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,842},{141,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,48}}</string>
                <key>sourceSize</key>
                <string>{141,48}</string>
            </dict>
            <key>huodong_xiaopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,644},{150,117}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>lianji_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{650,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,46}}</string>
                <key>sourceSize</key>
                <string>{650,46}</string>
            </dict>
            <key>shanghaitongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,231},{30,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,126}}</string>
                <key>sourceSize</key>
                <string>{30,126}</string>
            </dict>
            <key>shanghaitongji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,361},{219,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,27}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>shanghaitongji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,411},{219,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,27}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>shanghaitongji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,428},{219,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,27}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>shanghaitongji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,658},{219,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,27}}</string>
                <key>sourceSize</key>
                <string>{219,27}</string>
            </dict>
            <key>ui5_bibikan_jindutian_zhishisanjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,47},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>ui5_bibikan_jindutiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,0},{159,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,1}}</string>
                <key>sourceSize</key>
                <string>{159,1}</string>
            </dict>
            <key>ui5_bibikan_jindutiao_ding.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,662},{175,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,15}}</string>
                <key>sourceSize</key>
                <string>{175,15}</string>
            </dict>
            <key>ui5_bibikan_xiaodikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,201},{480,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,21}}</string>
                <key>sourceSize</key>
                <string>{480,21}</string>
            </dict>
            <key>ui6_2v2_diren_lan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,662},{200,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,18}}</string>
                <key>sourceSize</key>
                <string>{200,18}</string>
            </dict>
            <key>ui6_2v2_diren_lan_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,682},{172,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,11}}</string>
                <key>sourceSize</key>
                <string>{172,11}</string>
            </dict>
            <key>ui6_2v2_diren_xue_canxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,119},{241,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,47}}</string>
                <key>sourceSize</key>
                <string>{241,47}</string>
            </dict>
            <key>ui6_2v2_diren_xue_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,58},{311,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,60}}</string>
                <key>sourceSize</key>
                <string>{311,60}</string>
            </dict>
            <key>ui6_2v2_diren_xue_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,358},{218,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,19}}</string>
                <key>sourceSize</key>
                <string>{218,19}</string>
            </dict>
            <key>ui6_2v2_diren_xue_zhegai.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,322},{218,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,19}}</string>
                <key>sourceSize</key>
                <string>{218,19}</string>
            </dict>
            <key>ui6_2v2_nengliang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,58},{263,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,18}}</string>
                <key>sourceSize</key>
                <string>{263,18}</string>
            </dict>
            <key>ui6_2v2_nengliang_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,383},{237,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,11}}</string>
                <key>sourceSize</key>
                <string>{237,11}</string>
            </dict>
            <key>ui6_battle_bian_neng.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,58},{266,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{266,21}}</string>
                <key>sourceSize</key>
                <string>{266,23}</string>
            </dict>
            <key>ui6_battle_bian_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,201},{408,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,96}}</string>
                <key>sourceSize</key>
                <string>{408,96}</string>
            </dict>
            <key>ui6_battle_player_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,119},{291,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{291,28}}</string>
                <key>sourceSize</key>
                <string>{291,30}</string>
            </dict>
            <key>ui6_battle_player_hp_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,0},{322,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,57}}</string>
                <key>sourceSize</key>
                <string>{322,57}</string>
            </dict>
            <key>ui6_battle_player_hp_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,119},{291,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,27}}</string>
                <key>sourceSize</key>
                <string>{291,27}</string>
            </dict>
            <key>ui6_battle_player_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,201},{460,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,96}}</string>
                <key>sourceSize</key>
                <string>{460,96}</string>
            </dict>
            <key>ui6_choujiang_meishuzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,383},{198,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,30}}</string>
                <key>sourceSize</key>
                <string>{198,30}</string>
            </dict>
            <key>ui6_common_diban_shanghaitongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,640},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ui6_icon_shu_changdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,701},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ui6_icon_siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,610},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>ui6_liaotian_icon_xiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,614},{87,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,102}}</string>
                <key>sourceSize</key>
                <string>{87,102}</string>
            </dict>
            <key>ui6_paiming_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,0},{230,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,26}}</string>
                <key>sourceSize</key>
                <string>{230,26}</string>
            </dict>
            <key>ui6_pata_huihe_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{465,153}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{465,153}}</string>
                <key>sourceSize</key>
                <string>{475,153}</string>
            </dict>
            <key>ui6_pata_jiangli_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,640},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>ui6_pata_jiangli_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,795},{114,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{114,96}</string>
            </dict>
            <key>ui6_tili_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,610},{207,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{207,12}}</string>
                <key>sourceSize</key>
                <string>{207,14}</string>
            </dict>
            <key>ui6_zhandou_bianshen_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,119},{272,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,23}}</string>
                <key>sourceSize</key>
                <string>{272,23}</string>
            </dict>
            <key>ui6_zhandou_bianshen_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,325},{220,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,16}}</string>
                <key>sourceSize</key>
                <string>{220,16}</string>
            </dict>
            <key>ui6_zhandou_nengliang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,119},{263,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,18}}</string>
                <key>sourceSize</key>
                <string>{263,18}</string>
            </dict>
            <key>ui6_zhandou_xue_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,201},{442,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,96}}</string>
                <key>sourceSize</key>
                <string>{442,96}</string>
            </dict>
            <key>ui6_zhujiemian_daojishidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,411},{205,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,55}}</string>
                <key>sourceSize</key>
                <string>{205,55}</string>
            </dict>
            <key>ui6_zhujiemian_dengjianniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,582},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>ui6_zhujiemian_fangxiangpan_jiangtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,617},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>ui6_zhujiemian_fangxiangpanding.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,734},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>ui6_zhujiemian_fangxianhpandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,673},{181,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,180}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>ui6_zhujiemian_jineng_xueyao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,819},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ui6_zhujiemian_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,734},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>ui6_zhujiemian_tuoguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,826},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui6_zhujiemian_tuoguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,826},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui6_zhujiemian_tuoguan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,826},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>ui6_zhujiemian_zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,826},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>ui_common_guanbi_yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,648},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>ui_common_yinxiao_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,818},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>ui_common_yinyue_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,818},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>ui_juntuan_duizhan_siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,620},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>zhandou_boss_hp_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,119},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandou_boss_hp_mask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,119},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandou_player_hp_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,119},{308,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,28}}</string>
                <key>sourceSize</key>
                <string>{308,30}</string>
            </dict>
            <key>zhandou_xinshoubaohuzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,855},{205,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,40}}</string>
                <key>sourceSize</key>
                <string>{205,40}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,201},{412,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{412,55}}</string>
                <key>sourceSize</key>
                <string>{416,59}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,119},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,119},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,165},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,165},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,165},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,165},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian-bossxuetiao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,165},{374,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{374,31}}</string>
                <key>sourceSize</key>
                <string>{374,33}</string>
            </dict>
            <key>zhandoujiemian_fuhuo_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,648},{112,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,71}}</string>
                <key>sourceSize</key>
                <string>{112,71}</string>
            </dict>
            <key>zhandouli_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,761},{120,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,57}}</string>
                <key>sourceSize</key>
                <string>{120,57}</string>
            </dict>
            <key>zhandouli_ziti.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,546},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_ui.png</string>
            <key>size</key>
            <string>{1023,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98ce9f84641f53e956893d79b9f5d4d4:639d7b89c43b2a3f78cbf87d820ac594:d603070041ebb13c06c7914aa56b9156$</string>
            <key>textureFileName</key>
            <string>battle_ui.png</string>
        </dict>
    </dict>
</plist>
